/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f6f8fa;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Navigation styles */
.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #26A7DE;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation a.active, .navigation a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main content styles */
.main-content {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
    background-color: #f6f8fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-icon {
    width: 50px;  /* Adjust width as desired */
    height: 50px; /* Adjust height as desired */
    object-fit: cover; /* This ensures the image maintains its aspect ratio and doesn't get skewed/stretched */
    display: block; /* To remove any extra spacing around the image */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    color: #26A7DE;
    margin-bottom: 10px;
}

.current-data {
    font-size: 24px;
    margin-top: 10px;
    color: #2A2A2A;
}

.device-status-list, .settings-list {
    list-style-type: none;
    padding: 0;
}

.device-status-list li, .settings-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #e8ecef;
    font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .main-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
